.profile {
    width: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px 4px hsla(0, 0%, 0%, 0.15);
}

.description {
    padding: 20px;
    text-align: center;
}

.avatar {
    width: 200px;
    border-radius: 50%;
    border: 5px;

    box-shadow: 0px 4px 4px hsla(5, 0%, 0%, 0.95);
}

.name {
    font-size: 30px;
    font-weight: 700;
}

.tag {
    color: gray;
    font-size: 20px;
}

.location {
    color: gray;
    font-size: 20px;
}

.stats {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 5px;
    border-color: black;

}

.bloc {
    display: block;
    width: 150px;
    margin: 0;
    padding: 20px;
    background-color: rgb(219, 223, 221);
    box-shadow: 0px 4px 4px hsla(5, 0%, 0%, 0.25);
    text-align: center;
}

.label {
    display: block;
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
}

.quantity {
    display: block;
    font-size: 30px;
    font-weight: 1000;
}